<div class="dashboard header">
  <div class="container">
     {{> nav}}

      {{#if notes.length}}
        <ul class="notes-grid">
          {{#each notes}}
            <li>
              <a href="/jots/{{this._id}}" class="note">
                <h2 class="title">{{this.title}}</h2>
                <p class="subtitle">{{this.subtitle}}</p>
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
      <div class="welcome">
        <div class="content">
          <h1>Hello, {{user}}. Welcome to <span>Jot</span> !</h1>
          <p class="text" >It looks like you don't have any jots yet. Click the button below to get started.</p>
          <a href="/jots/create" class="button">Create Jot</a>
        </div>
      </div>
       
      {{/if}}



  </div>
</div>