<div class="dashboard">
  <aside class="sidebar">
    <div class="container">
      <div class="nav">

        <figure class="logo">
          <img src="/images/jot.png" alt="logo" />
        </figure>
      </div>

      <div class="menu">
        {{#each menu}}
          <figure>
            <img src={{src}} alt={{name}} />
            <a href="">{{name}}</a>
          </figure>

          {{#if this.subMenu.length}}
            {{#each this.subMenu}}
              <div class="categories">
                <figure>
                  <img src={{this.src}} alt={{this.name}} />
                  <a href="">{{this.name}} </a>
                </figure>
              </div>

            {{/each}}
          {{/if}}

        {{/each}}
        {{! <div class="categories">
          <figure><img src="/images/icons/general.svg" alt="icon" />
            <figcaption>Overview</figcaption>
          </figure>
          <figure><img src="/images/icons/todo.svg" alt="icon" />
            <figcaption>Overview</figcaption>
          </figure>
          <figure><img src="/images/icons/resources.svg" alt="icon" />
            <figcaption>Overview</figcaption>
          </figure>
          <figure><img src="/images/icons/reminders.svg" alt="icon" />
            <figcaption>Overview</figcaption>
          </figure>

        </div> }}

      </div>
    </div>

  </aside>

  <main>
    <div class="container">
      <p>main</p>
    </div>

  </main>
</div>