<div class="dashboard">
  <aside class="sidebar">

    <div class="nav">
      <div class="container">
        <figure class="logo">
          <img src="/images/jot.png" alt="logo" />
        </figure></div>
    </div>

    <div class="menu">
      <div class="conatainer">
        <div class="sidenav">
          {{#each menu}}
            <figure id={{name}}>
              <img src={{src}} alt={{name}} />
              <a href="">{{name}}</a>
            </figure>

            {{#if this.subMenu.length}}
              <div class="categories subnav">
                {{#each this.subMenu}}
                  <figure>
                    <img src={{this.src}} alt={{this.name}} />
                    <a href=""> {{this.name}} </a>
                  </figure>
                {{/each}}</div>
            {{/if}}

          {{/each}}
        </div>
      </div>
    </div>

  </aside>

  <main>
    <div class="container">
      <p>main</p>
    </div>

  </main>
</div>

<script src="js/dashboard.js"></script>