<div class="header">
    <div class="container">
        {{> nav}}


        {{#if note._id }}
            <div class="details">
            
                <button type="submit" class="submit" data-doc="{{note._id}}">
                    <img src="/images/icons/delete.svg" alt="delete">
                </button>
               

                <h1 class="title">{{note.title}}</h1>
                <p class="subtitle">{{note.subtitle}}</p>

                <div class="created">
                    <p class="category">> {{note.category}}</p>
                   <p class="creates">> {{note.createdAt}}</p>
                </div>

                <p class="content text">
                     {{note.content}}
                </p>
            </div>

        {{else}}
            <div class="welcome">
                <div class="content">
                    <h1>This jot no longer exists</h1>
                    <p class="text">It looks like this jot no longer exists. Click the button below to create a new one.</p>
                    <a href="/jots/create" class="button">Create Jot</a>
                </div>
            </div>

        {{/if}}

    </div>

</div>

<script>
    const content = document.querySelector('.content');
    const text = content.textContent;
    content.innerHTML = text;

    const deleteBtn = document.querySelector('.submit');
    deleteBtn.addEventListener('click', async (e) => {
        e.preventDefault();

        try {
            const docId = deleteBtn.dataset.doc;
            console.log(docId);

            const res = await fetch(`/jots/${docId}`, {
            method: 'DELETE'
            });

            if (res.ok) {
                window.location.href =  '/jots';
            } else {
            console.log('Error:', res.status);
            }

        } catch (err) {
            console.log(err);
        }
});

 
</script>