<div class="header">
    <div class="container">
        {{> nav}}


        {{#if note._id }}
            <div class="details">
                <h1 class="title">{{note.title}}</h1>
                <p class="subtitle">{{note.subtitle}}</p>
                <div class="created">
                    <p class="category">> {{note.category}}</p>
                   <p class="creates">> {{note.createdAt}}</p>
                </div>
                <p class="content text">
                     {{note.content}}
                </p>
            </div>

        {{else}}
            <div class="welcome">
                <div class="content">
                    <h1>This jot no longer exists</h1>
                    <p class="text">It looks like this jot no longer exists. Click the button below to create a new one.</p>
                    <a href="/jots/create" class="button">Create Jot</a>
                </div>
            </div>

        {{/if}}

    </div>

</div>

<script>
    const content = document.querySelector('.content');

    const text = content.textContent;

    content.innerHTML = text;
</script>